<div id = "main">

  <nav>
    <ul>
      <li><a routerLink="/the-best-today" routerLinkActive="active">Best joke of the day</a></li>
      <li><a routerLink="/the-best-today-animals" routerLinkActive="active">Best joke about animals</a></li>
      <li><a routerLink="/the-best-today-blonde" routerLinkActive="active">Best blonde joke</a></li>
      <li><a routerLink="/the-best-today-knockknock" routerLinkActive="active">Best knock-knock joke</a></li>
    </ul>
  </nav>

  <div id = "jokeField">
    <router-outlet>
      <h2 style = "text-decoration: underline;">Let me cheer you up</h2>
    </router-outlet>
  </div>

  <div style = "clear: both;"></div>
</div>
