<div class = 'all'>
    <h1 class = "title">To Do</h1>
    <input type="text" #in (keyup.enter)="onAdd($event.target.value)" class = 'inputS' placeholder="Wpisz zadanie do wykonania">
    <div id = 'buttons'>
        <button (click)="onAdd(in.value)" class="button1">Dodaj</button>
        <button (click)="onClear()" class="button1">Wyczyść wszystko</button>
        <button (click)="onClearDown()" class="button1">Usuń z dołu</button>
        <button (click)="onClearUp()" class="button1">Usuń z góry</button>
    </div>

    <ul>
        <li *ngFor="let item of listX">{{item}}
            <button class = "button2" (click)="onDelete(item)">Usuń</button>
            <button class = "button2" (click)="onDone(item)">Zrobione</button>
        </li>
        <li *ngFor="let item2 of listY" [ngStyle]="styleS">{{item2}}
            <button class = "button2" (click)="onDelete2(item2)">Usuń</button>
            <button class = "button2" (click)="onUndone(item2)">Nie zrobione</button>
        </li>
    </ul>

</div>

