.main {
    width: 100%;
    border-top: 1px dotted rgba(255, 250, 250, 0.137);
    color: snow;
}

#title {
    background-color: rgba(255, 250, 250, 0.055);
    padding: 1.5% 0px;
    font-size: 3.2em;
    text-align: center;
    letter-spacing: .1em;
    border-bottom: 3px solid rgba(255, 250, 250, 0.329);
    opacity: 0.85;
    transition: all 0.8s ease;
}
#title:hover{
    opacity: 1;
    letter-spacing: .2em;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    #title {
        padding: 1.5% 0px;
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
    #title {
        padding: 1.5% 0px;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 300px) {
    #title {
        padding: 1.5% 0px;
        font-size: 2.4em;
    }
}

@media screen and (max-width: 260px) {
    #title {
        padding: 1.5% 0px;
        font-size: 2.1em;
    }
}