<html>
    <head>
        <title>Aplikacja do zapisywania zadań</title>
    </head>
    <body>
        <div class = 'all'>
            <div class="main">
                <div id = "title">
                    <span>Do zrobienia</span>
                </div>
                <div id = "body">
                    <form [formGroup] = "todoForm" (ngSubmit)="add()" id="form1">
                        <input type="text" #in formControlName="title" placeholder="Tytuł zadania" class="txt">
                        <div id="buttonX">
                            <input type="submit" value="Dodaj zadanie" [disabled]="todoForm.invalid" class = "button">
                        </div>
                    </form>
                    <form [formGroup] = "todoForm" (ngSubmit)="removeAll()" id="form1">
                        <input type="submit" value="Wyczyść listę" class = "button">
                    </form>
                    <ul>
                        <li *ngFor="let item of todos; let i = index">
                            {{item}}
                            <div id="del" (click)="delete(i)" style="float:right;">Usuń mnie</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>


